{% extends 'base.html.twig' %}

{% block title %}Información de Contacto{% endblock %}

{% block body %}
    <div class="content">
        <h1 class="titleSection"><i class="fa-solid fa-shop me-3"></i> Información de Contacto</h1>

        <table class="table table-striped">
            <thead>
                <tr>
                    {# <th>Id</th> #}
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Instagram</th>
                    <th>Facebook</th>
                    <th>Youtube</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for store in stores %}
                <tr>
                    {# <td>{{ store.id }}</td> #}
                    <td>{{ store.address }}</td>
                    <td>{{ store.phone }}</td>
                    <td>{{ store.instagram }}</td>
                    <td>{{ store.facebook }}</td>
                    <td>{{ store.youtube }}</td>
                    <td>
                        <a href="{{ path('app_store_show', {'id': store.id}) }}" class="btn btn-show">
                            <i class="fa-regular fa-eye"></i>
                        </a>
                        <a href="{{ path('app_store_edit', {'id': store.id}) }}" class="btn btn-edit">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">No se encontró Información de Contacto</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('app_store_new') }}" class="btn btn-add"><i class="fa-regular fa-square-plus me-2"></i> Agregar</a>
    </div>
{% endblock %}
